body {
  margin: 111px;
  padding-top: 110px;
}
  
  .navbar {
    background-color: orangered;
  }
  .navbar-brand {
    padding: 0px;
  }

  .navbar-brand>img {
    height: 100%;
    padding: 1px;
    width: 299px;
}
.mb-5, .my-5 {
  margin-bottom: 2rem!important;
}

  .logo {
    width: 30px;
    height: 30px;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}
.btn-group {
  width: 511px;
  margin-left: 85px;
  
}

.btn-outline-primary {
    color: #000000;
    border-color: #000000;
}

 
